body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#canv-parent {
    margin: 0 auto;
}

#defaultCanvas0 {
    display: block;
    margin: 0 auto;
}

#defaultCanvas0:hover {
    cursor: none;
}

h1 {
    text-align: center;
}